name: CD - Stage Deployment

on:
  push:
    branches: [ stage ]
  pull_request:
    branches: [ stage ]
  workflow_dispatch:

concurrency:
  group: cd-stage
  cancel-in-progress: true

jobs:
  security_scan:
    name: Security Scan (Trivy)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner (Repo)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'table'
          output: 'trivy-repo-results.txt'
          severity: 'CRITICAL,HIGH'
          exit-code: '0'

      - name: Print Trivy results
        if: always()
        run: cat trivy-repo-results.txt

      - name: Upload Trivy scan results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: trivy-repo-results-cd-stage
          path: trivy-repo-results.txt

  notify:
      name: Notify on Failure
      runs-on: ubuntu-latest
      needs: [security_scan]
      
      steps:
        - name: Notify by Email on Failure
          if: failure()
          uses: dawidd6/action-send-mail@v3
          with:
            server_address: smtp.gmail.com
            server_port: 465
            username: ${{ secrets.EMAIL_USER }}
            password: ${{ secrets.EMAIL_PASS }}
            subject: "Pipeline FAILED - ${{ github.workflow }} / Job: ${{ github.job }}"
            to: ${{ secrets.EMAIL_TO }}
            from: "GitHub CI/CD Bot <${{ secrets.EMAIL_USER }}>"
            body: |
              Pipeline failure detected

              Repository:  ${{ github.repository }}
              Branch:      ${{ github.ref_name }}
              Workflow:    ${{ github.workflow }}
              Job:         ${{ github.job }}
              Commit:      ${{ github.sha }}
              Autor:       ${{ github.actor }}
              URL:         https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}

              Revisa los logs inmediatamente.